{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronograma</title>
    <link rel="stylesheet" href="{% static 'cronograma/styles.css' %}">
</head>
<body>
    <h1>CRONOGRAMA SEMANA DA JUVENTUDE</h1>
    <div class="cards">
        <div class="card">
            <div class="dia">
                <h2>Segunda-feira</h2>
                <h2>00/00</h2>
            </div>
            
            <h2>Palestra com Ângela Denise Cossul de Sousa - PUVF</h2>

            <ul>
                <li>Local : ACISAM</li>
                <li>Horário</li>
            </ul>
            <h2>Alunos da Escola Estadual</h2>
        </div>
    </div>
</body>
</html>